@page "/home"
@attribute [Authorize]
@using Coffee_Ecommerce.WebApp.Shared.Models
@inject NavigationManager NavManager

<PageTitle>Home</PageTitle>

<h1>Olá!</h1>

<p>Bem-vindo ao novo e-commerce da Expresso Café!</p>
<p>Esperamos que você goste!</p>