@using Coffee_Ecommerce.WebApp.Features.Announcement.Create
@using Coffee_Ecommerce.WebApp.Identity
@using Coffee_Ecommerce.WebApp.Shared.Events
@using Coffee_Ecommerce.WebApp.Shared.Hubs
@using Microsoft.AspNetCore.SignalR.Client
@inject IAnnouncementService AnnouncementService
@inject AnnouncementsHub AnnouncementsHub

<EditForm Model="Request" OnValidSubmit="Create">
    <DataAnnotationsValidator></DataAnnotationsValidator>

    <label>Título:</label>
    <ValidationMessage For="() => Request.Name"></ValidationMessage>
    <InputText @bind-Value="Request.Name" class="form-control"></InputText>
    <br />

    <label>Mensagem:</label>
    <ValidationMessage For="() => Request.Message"></ValidationMessage>
    <InputTextArea @bind-Value="Request.Message" class="form-control" rows="10"></InputTextArea>
    <br />

    <label>Destinatários:</label>
    <div class="d-flex flex-column">
        <div class="d-flex">
            <InputCheckbox @bind-Value="Request.Recipients[0]"></InputCheckbox>
            <label>Proprietário</label>
        </div>
        <div class="d-flex">
            <InputCheckbox @bind-Value="Request.Recipients[1]"></InputCheckbox>
            <label>Administrador</label>
        </div>
        <div class="d-flex">
            <InputCheckbox @bind-Value="Request.Recipients[2]"></InputCheckbox>
            <label>Estabelecimento</label>
        </div>
        <div class="d-flex">
            <InputCheckbox @bind-Value="Request.Recipients[3]"></InputCheckbox>
            <label>Cliente</label>
        </div>
    </div>
    <br />

    <div class="d-flex">
        <input type="submit" class="btn btn-success" style="margin-right: 10px;" value="Enviar" />
        <Button Class="btn btn-secondary" @onclick="CloseCallback">Cancelar</Button>
    </div>
</EditForm>

@code {
    private CreateRequest Request { get; set; } = new CreateRequest();

    [Parameter]
    public EventCallback<MouseEventArgs> CloseCallback { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> ConfirmCallback { get; set; }

    private async Task Create()
    {
        try
        {
            var result = await AnnouncementService.CreateAsync(Request);

            ToastRaiser.Notifty("Anúncio criado");

            await SendNotification();

            Request = new CreateRequest();

            await ConfirmCallback.InvokeAsync();
        }
        catch (ApiException ex)
        {
            ErrorRaiser.Raise(ex, "Não foi possível criar o anúncio");
        }
        catch (HttpRequestException ex)
        {
            ErrorRaiser.Raise($"{ex.GetType()}: Não foi possível criar o anúncio");
        }
    }

    private async Task SendNotification()
    {
        string[] groups = Request.Recipients
            .Where(kvp => kvp.Value)
            .Select(kvp => Roles.RoleName(kvp.Key))
            .ToArray()!;

        await AnnouncementsHub.Connection.SendAsync("SendNotification", groups);
    }
}
